@charset "UTF-8";
.img-pc{
	height : 200px;

}
ul {
    display: flex;


}
p{
<<<<<<< HEAD
  font-family:serif;
color:rgb(0, 0, 0);
 font-size:50px;
 font-weight:500;
=======
	font-family:serif;
	color:#45a049;
	text-bottom: 100;
	font-size:20px;
	font-weight:500;
>>>>>>> 6024936d52bc4a3d136c8cec11c0f5c237c8245f
}
#hero {
  /* 画像ファイルの指定 */
  background-image: url(/B1/img/bg.png);

<<<<<<< HEAD
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center ;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  background-repeat: no-repeat;

  height: 3000px;

  border-radius: 30px;




=======
.favorite {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
>>>>>>> 6024936d52bc4a3d136c8cec11c0f5c237c8245f
}
#hyousyou{
  /* 画像ファイルの指定 */
  background-image: url(/B1/img/Hyousyou.png);




  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  background-color:rgb(255, 246, 195);
  height: 2200px;
  width: 1100px;
    background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat;
}
.example1{
	    background:#6495ed;
		font-size:60px;
  font-weight:200;
	border: 2px solid #6495ed;
    width: 200px;
    height: 200px;
	font-weight: bold;
    border-radius: 50%;
	color: #FFF;
    transition: 0.5s;

}
.example2{
 background:#228b22;
 	border: 2px solid #228b22;
font-size:60px;
  font-weight:200;

    width: 200px;
    height: 200px;

	font-weight: bold;
    border-radius: 50%;
	color: #FFF;
    transition: 0.5s;
}
.example3{
	 	border: 2px solid #ff7f50;
    background:#ff7f50;
font-size:60px;
  font-weight:200;

    width: 200px;
    height: 200px;
	font-weight: bold;
    border-radius: 50%;
	color: #FFF;
    transition: 0.5s;
}

.favor {
 margin: 300px 10px 100px 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;

}

.dia{
font-size:30px;
font-weight:500;
	  background-color:rgb(255, 246, 195);
}

.scroll_content { /* リスト全体のスタイル */
  display: flex;
  max-width: 1200px;
 margin-bottom:100px;
  overflow-x: auto;
}

.scroll_content li { /* 各リストのスタイル */
  width: 90%;
  padding: 8px;
  margin: 3px;
  flex-shrink: 0;
  list-style: none;
}

.scroll_content img { /* 画像のスタイル */

  object-fit: cover;
}

.scroll_content::-webkit-scrollbar {
  height: 12px; /* スクロールバーの高さ */
}

.scroll_content::-webkit-scrollbar-thumb {
  background: #aaa; /* ツマミの色 */
  border-radius: 6px; /* ツマミ両端の丸み */
}

.scroll_content::-webkit-scrollbar-track {
  background: #ddd; /* トラックの色 */
  border-radius: 6px; /* トラック両端の丸み */
}


@media screen and (min-width: 450px) {

  .scroll_content li {
    width: 45%;
  }
}
.hidden {
  display: none;
}