@charset "UTF-8";
.img-pc{
	height : 300px;

}



p{

 font-family:serif;
color:rgb(0, 0, 0);
font-size:50px;
font-weight:500;

}
.it{
	text-align:center;
}
#hero {
  /* 画像ファイルの指定 */
  background-image: url(/B1/img/bg.png);


  /* 画像を常に天地左右の中央に配置 */
  background-position: center center ;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  background-repeat: no-repeat;

  height: 2500px;

  border-radius: 30px;

}



.favorite {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;

}
.btn {
	font-size:60px;
  font-weight:200;
	display: block;
	text-align: center;
	text-decoration: none;
	width: 500px;
	height:100px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #45a049;
	background: #0000ff;
	color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
}
.btn:hover{
	color: #45a049;
	background: #fff;
}
